body {
    font-family: 'Poppins', sans-serif;
}
.hero-section {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8f9fa;
}
.hero-image {
    width: 200px;
    opacity: 0.6;
}
.container h3 {
    color: #003e81;
    margin-top: 20px;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #0f0064;
}

p {
    font-size: 20px;
  }